<section class="inactive" [class.nyrr-mobile-menu]="isMenuActive">
    <div class="nyrr-container">
        <div class="nyrr-header-bar">
            <div class="nyrr-logo">
                <img src="http://fpoimg.com/120x40?bg_color=169abb&text_color=ffffff" width="120" height="40" />
            </div>
            <div class="nyrr-close">
                <div (click)="setMenuActive()">CLOSE</div>
            </div>
        </div>
        <div class="nyrr-mobile-row nyrr-mobile-search">
            <div>Search</div>
        </div>
    </div>
</section>