<section class="inactive" [class.nyrr-mobile-menu]="isMenuActive">
    <div class="nyrr-container">
        <div class="nyrr-header-bar">
            <div class="nyrr-logo">
                <img src="http://fpoimg.com/120x40?bg_color=169abb&text_color=ffffff" width="120" height="40" />
            </div>
            <div class="nyrr-close">
                <div (click)="setMenuActive()">CLOSE</div>
            </div>
        </div>
        <div class="nyrr-mobile-row nyrr-mobile-search">
            <div>Search</div>
        </div>
        <div class="nyrr-mobile-row">
            <div>HOME</div>
        </div>
        <div class="nyrr-mobile-row">
            <div>DISCOVER</div>
        </div>
        <div class="nyrr-mobile-row">
            <div>RUN</div>
        </div>
        <div class="nyrr-mobile-row">
            <div>YOUTH</div>
        </div>
        <div class="nyrr-mobile-row">
            <div>TRAIN</div>
        </div>
        <div class="nyrr-mobile-row">
            <div>GET INVOLVED</div>
        </div>
        <div class="nyrr-mobile-row nyrr-mobile-calendar">
            <button class="nyrr-calendar-button">CALENDAR</button>
        </div>
        <div class="nyrr-mobile-row nyrr-signin">
            <div>Sign in</div>
            <div>Join</div>
        </div>
        <div class="nyrr-mobile-row nyrr-mobile-about">
            <div>
                <div>
                    About NYRR
                </div>
                <div>
                    TCS NYC Marathon
                </div>
                <div>
                    Run Center
                </div>
                <div>
                    Results
                </div>
            </div>
            <div>
                <div>
                    Team for Kids
                </div>
                <div>
                    Shop
                </div>
                <div>
                    Donate
                </div>
                <div>
                    Help
                </div>
            </div>
        </div>
    </div>
</section>