.nyrr-youth-content{
    display: flex;
    flex-direction: column;
}

.nyrr-banner{
    background-color: #999999;
    display: flex;
    min-height: 150px;
    width: 100%;
}

.nyrr-banner> div:first-of-type{
    background-color: #999999;
    border-color: #3480DE transparent transparent transparent;
    border-width: 150px 100px 0 0;
    height: 0;
    left: 0;
    position: absolute;
    width: 30%;
    border-style: solid;
}

.nyrr-banner > div:last-of-type{
    position: relative;
    flex-basis: 30%;
    align-self: center;
}

.nyrr-banner > div:last-of-type > h1{
    color: #e5e5e5;
    margin-left: 2em;
}

@media all and (max-width: 600px) {
    .nyrr-banner{
        min-height: 75px;
    }
    .nyrr-banner> div:first-of-type{
        border-width: 0px;
    }
}