<div class="nyrr-youth-content">
  <div class="nyrr-banner">
    <div></div>
    <div>
      <h1>
        Youth
      </h1>
    </div>
  </div>
  <div class="nyrr-video">
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Felis eget nunc lobortis mattis aliquam faucibus purus. Nunc scelerisque viverra mauris in aliquam sem fringilla
        ut. Commodo elit at imperdiet dui accumsan sit. Luctus accumsan tortor posuere ac.</p>
    </div>
    <div>
      <div class="nyrr-video-wrapper">
        <iframe src="https://www.youtube.com/embed/3pcZiAfLNII" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="nyrr-content-row">
    <table>
      <tr>
        <td>
          <img src="http://fpoimg.com/600x300" width="600" height="300" />
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Commodo sed egestas egestas fringilla.
          </div>
        </td>
        <td>
          <img src="http://fpoimg.com/400x300" width="400" height="300" />
          <div>
            consequat mauris nunc congue nisi vitae suscipit tellus mauris a diam maecenas
          </div>
        </td>
        <td>
          <img src="http://fpoimg.com/290x300" width="290" height="300" />
          <div>
            consequat mauris nunc congue nisi vitae suscipit tellus mauris a diam maecenas
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="nyrr-content-row">
    <h2>Youth Events</h2>
    <table class="nyrr-youth-table">
      <tr>
        <td>
          <img src="http://fpoimg.com/280x400" width="280" height="400" />
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Commodo sed egestas egestas fringilla.
          </div>
        </td>
        <td>
          <img src="http://fpoimg.com/280x400" width="280" height="400" />
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Commodo sed egestas egestas fringilla.
          </div>
        </td>
        <td>
          <img src="http://fpoimg.com/280x400" width="280" height="400" />
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Commodo sed egestas egestas fringilla.
          </div>
        </td>
        <td>
          <img src="http://fpoimg.com/280x400" width="280" height="400" />
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Commodo sed egestas egestas fringilla.
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="nyrr-content-row">
    <h2>Teaching Resources</h2>
    <table class="nyrr-youth-table">
        <tr>
          <td>
            <img src="http://fpoimg.com/280x250" width="280" height="250" />
            <h4>Elementary School</h4>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Commodo sed egestas egestas fringilla.
            </div>
          </td>
          <td>
            <img src="http://fpoimg.com/280x250" width="280" height="250" />
            <h4>Elementary School</h4>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Commodo sed egestas egestas fringilla.
            </div>
          </td>
          <td>
            <img src="http://fpoimg.com/280x250" width="280" height="250" />
            <h4>Elementary School</h4>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Commodo sed egestas egestas fringilla.
            </div>
          </td>
          <td>
            <img src="http://fpoimg.com/280x250" width="280" height="250" />
            <h4>Elementary School</h4>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Commodo sed egestas egestas fringilla.
            </div>
          </td>
        </tr>
      </table>
  </div>
</div>